.project
.classpath
.settings/
core/.classpath
core/.project
core/.settings/
core/target/
core/lib/
distribution/.project
distribution/.settings/
distribution/target/
neo4j/.classpath
neo4j/.project
neo4j/.settings/
neo4j/target/
neo4j/*.txt
*.txt
.gitignore~
build.sh~
README.md~
