.project
.settings/
core/.classpath
core/.project
core/.settings/
core/target/
distribution/.project
distribution/.settings/
distribution/target/
neo4j/.classpath
neo4j/.project
neo4j/.settings/
neo4j/target/
neo4j/load.txt
neo4j/run.txt
out.txt
.gitignore~
